<header>
  <h1>{{ title }}</h1>
  <div class='navbar'>
    <p><a href='/'>Home</a> | <a href='/books/add'>Add a book</a> | <a href='/login'>Login</a> | <a href='/register'>Register</a></p>
  </div>
</header>
