<form method='POST' action='/books/destroy/confirm'>
<input type='hidden' name='bookkey' value='{{#if book}}{{key}}{{/if}}'>
<p>Delete {{book.title}}?</p>
<br/><input type='submit' value='DELETE' />
<a href="/books/view?key={{#if book}}{{key}}{{/if}}">Cancel</a>
</form>
