{{#if book}}<h3>{{ book.title }}</h3>{{/if}}
{{#if book}}<p>{{ book.author }}</p>{{/if}}
{{#if key }}
  <hr/>
  <p>
    <a href="/books/destroy?key={{key}}">Delete</a>
|   <a href="/books/edit?key={{key}}">Edit</a>
  </p>
{{/if}}
