<form method='POST' action='/books/destroy/confirm'>
<input type='hidden' name='id' value='{{#if book}}{{id}}{{/if}}'>
<p>Delete {{book.title}}?</p>
<br/><input type='submit' value='DELETE' />
<a href="/books/view?id={{#if book}}{{id}}{{/if}}">Cancel</a>
</form>
